apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: grafana
    targetRevision: 7.3.7
    helm:
      values: |
        adminUser: admin
        adminPassword: admin123

        persistence:
          enabled: true
          storageClassName: oci-bv
          size: 10Gi

        service:
          type: ClusterIP

        datasources:
          datasources.yaml:
            apiVersion: 1
            datasources:
              - name: Prometheus
                type: prometheus
                url: http://kube-prometheus-stack-prometheus.monitoring.svc:9090
                access: proxy
                isDefault: true

              - name: Loki
                type: loki
                url: http://loki.monitoring.svc:3100
                access: proxy

              - name: Tempo
                type: tempo
                url: http://tempo.monitoring.svc:3100
                access: proxy

              - name: Alertmanager
                type: alertmanager
                url: http://kube-prometheus-stack-alertmanager.monitoring.svc:9093
                access: proxy

        dashboardProviders:
          dashboardproviders.yaml:
            apiVersion: 1
            providers:
              - name: default
                orgId: 1
                folder: Kubernetes
                type: file
                disableDeletion: false
                editable: true
                options:
                  path: /var/lib/grafana/dashboards/default

        dashboards:
          default:
            kubernetes-cluster-overview:
              gnetId: 7249
              revision: 1
              datasource: Prometheus

            node-exporter-full:
              gnetId: 1860
              revision: 37
              datasource: Prometheus

            kubernetes-pods:
              gnetId: 6417
              revision: 1
              datasource: Prometheus

            loki-logs:
              gnetId: 13639
              revision: 1
              datasource: Loki

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

