apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: grafana
    targetRevision: 7.3.7
    helm:
      values: |
        adminUser: admin
        adminPassword: admin123

        persistence:
          enabled: true
          storageClassName: oci-bv
          size: 10Gi

        service:
          type: ClusterIP

        datasources:
          datasources.yaml:
            apiVersion: 1
            datasources:
              - name: Prometheus
                type: prometheus
                url: http://kube-prometheus-stack-prometheus.monitoring.svc:9090
                access: proxy
                isDefault: true

              - name: Loki
                type: loki
                url: http://loki.monitoring.svc:3100
                access: proxy

              - name: Tempo
                type: tempo
                url: http://tempo.monitoring.svc:3100
                access: proxy

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

