apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous

spec:
  project: default

  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 58.3.1
    helm:
      skipCrds: true
      values: |
        grafana:
          enabled: false

        prometheusOperator:
          admissionWebhooks:
            enabled: false
          tls:
            enabled: false
        crds:
          enabled: false
        prometheus:
          prometheusSpec:
            retention: 15d

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - Replace=true
      - RespectIgnoreDifferences=true
      - ApplyOutOfSyncOnly=true

