apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: loki
    targetRevision: 5.41.5
    helm:
      values: |
        deploymentMode: SingleBinary

        singleBinary:
          replicas: 1
          persistence:
            enabled: true
            storageClass: oci-bv
            accessModes:
              - ReadWriteOnce
            size: 20Gi
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi

        # Desativa completamente modo distribuído
        backend:
          enabled: false
        read:
          enabled: false
        write:
          enabled: false

        # Desativa gateway
        gateway:
          enabled: false

        # Desativa canary
        lokiCanary:
          enabled: false

        # Desativa monitoramento extra
        monitoring:
          enabled: false

        # Desativa grafana agent
        grafanaAgent:
          enabled: false

        # Desativa testes
        test:
          enabled: false

        # Impede recriação de CRDs
        crds:
          create: false

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

