apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: loki
    targetRevision: 5.41.5
    helm:
      values: |
        deploymentMode: SingleBinary

        singleBinary:
           replicas: 1
           persistence:
             enabled: true
             storageClass: oci-bv
             size: 20Gi
        monitoring:
          enabled: false
        grafanaAgent:
          enabled: false
        crds:
          create: false
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

