apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-root
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/barrosoes/devopsguide.git 
    targetRevision: main
    path: kubernetes/argocd_cluster02/config/stack-monitoring/monitoring
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

