apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  namespace: default
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  tls:
  - hosts:
      - platformengineering.com.br
    secretName: platformengineering.com.br
  rules:
  - host: platformengineering.com.br
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: pengi-service
            port:
              number: 80
