apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  namespace: default
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - app.platformengineering.com.br
      secretName: app-platformengineering-tls
  rules:
    - host: app.platformengineering.com.br
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: pengi-service
                port:
                  number: 80
