.git/
.cursor/
.claude/
.codeium/
.continue/
.devcontainer*
.github/
.gitlab/
.zap/

monitoring/
node_modules/
screenshots/
test/
build/reports/
build/
dist/
vagrant/
logs/
Dockerfile
Dockerfile.backup
/bom.json
/bom.xml

# Pattern is *not covered* by node_modules/ above no matter what IntelliJ says!
frontend/node_modules/
frontend/dist/
